.message
  .message__username
    = message.user.name
  .message__time
    = message.created_at
  .message__text
    -if message.body.present?
      = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?


