.message
  .message__username
    username
  .message__time
    2018/08/21 18:40
  .message__text
    ファイトー！

.message
  .message__username
    username
  .message__time
    2018/08/21 18:50
  .message__text
    こんばんわ

.message
  .message__username
    username
  .message__time
    2018/08/21 18:54
  .message__text
    おはよう
