.wrapper
  .sidebar
    .user-info
      = render "user-info"
    .groups
      = render "group"

  .chat
    .header
      =render "header-group"
    .messages
      =render "message"
    .footer
      =render "input"
