$sidebar-color: #2f3e51;
$user-info-color: #253141;
$chat-color: #F5F5F5;
$white: #FFFFFF;
$header__group-color: #333333;
$header__members-color: #999999;
$upper-border-color: #eeeeee;
$skyblue: #38AEF0;
$message-color: #434A54;
$footer-color: #DDDDDD;
$black: #000000;
$alert_orange: #F35500;
