
.sidebar {
  background-color: $sidebar-color;
  width: 300px;
  height: 100vh;
    .user-info {
      background-color: $user-info-color;
      padding: 0 20px;
    }
    .groups {
      padding: 20px 0 40px;
    }
}



